/* Inter */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Inter-ExtraLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Inter-ExtraLightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Inter-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Inter-LightItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Inter-MediumItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Inter-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter-BoldItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Inter-ExtraBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Inter-ExtraBoldItalic.woff2') format('woff2');
}

/* Inter Fallback */

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 200;
    src: local('Arial');
    ascent-override: 92.53%;
    descent-override: 23.07%;
    line-gap-override: 0%;
    size-adjust: 104.69%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 200;
    src: local('Arial Italic');
    ascent-override: 92.51%;
    descent-override: 23.06%;
    line-gap-override: 0%;
    size-adjust: 104.71%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 300;
    src: local('Arial');
    ascent-override: 91.25%;
    descent-override: 22.74%;
    line-gap-override: 0%;
    size-adjust: 106.17%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 300;
    src: local('Arial Italic');
    ascent-override: 91.22%;
    descent-override: 22.74%;
    line-gap-override: 0%;
    size-adjust: 106.2%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 400;
    src: local('Arial');
    ascent-override: 90%;
    descent-override: 22.43%;
    line-gap-override: 0%;
    size-adjust: 107.64%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 400;
    src: local('Arial Italic');
    ascent-override: 89.96%;
    descent-override: 22.42%;
    line-gap-override: 0%;
    size-adjust: 107.68%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 500;
    src: local('Arial');
    ascent-override: 88.98%;
    descent-override: 22.18%;
    line-gap-override: 0%;
    size-adjust: 108.87%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 500;
    src: local('Arial Italic');
    ascent-override: 88.94%;
    descent-override: 22.17%;
    line-gap-override: 0%;
    size-adjust: 108.92%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 600;
    src: local('Arial Bold');
    ascent-override: 95.19%;
    descent-override: 23.73%;
    line-gap-override: 0%;
    size-adjust: 101.77%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 600;
    src: local('Arial Bold Italic');
    ascent-override: 95.15%;
    descent-override: 23.72%;
    line-gap-override: 0%;
    size-adjust: 101.81%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 700;
    src: local('Arial Bold');
    ascent-override: 94.12%;
    descent-override: 23.46%;
    line-gap-override: 0%;
    size-adjust: 102.92%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 700;
    src: local('Arial Bold Italic');
    ascent-override: 94.09%;
    descent-override: 23.45%;
    line-gap-override: 0%;
    size-adjust: 102.96%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: normal;
    font-weight: 800;
    src: local('Arial Bold');
    ascent-override: 93.09%;
    descent-override: 23.2%;
    line-gap-override: 0%;
    size-adjust: 104.07%;
}

@font-face {
    font-family: 'Inter Fallback';
    font-style: italic;
    font-weight: 800;
    src: local('Arial Bold Italic');
    ascent-override: 93.06%;
    descent-override: 23.2%;
    line-gap-override: 0%;
    size-adjust: 104.1%;
}
