@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --primary: 161.4, 93.5%, 30.4%;
        --primary-foreground: 151.8, 81%, 95.9%;
        --primary-hover: 162.9, 93.5%, 24.3%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0, 85.7%, 97.3%;
        --destructive-hover: 0, 72.2%, 50.6%;
        --secondary: 210 20% 98%;
        --secondary-foreground: 215, 13.8%, 34.1%;
        --secondary-hover: 216.9, 19.1%, 26.7%;
        --muted: 210 20% 98%;
        --muted-foreground: 215, 13.8%, 34.1%;
        --muted-hover: 216.9, 19.1%, 26.7%;
        --accent: 210 20% 98%;
        --accent-foreground: 215, 13.8%, 34.1%;
        --accent-hover: 216.9, 19.1%, 26.7%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --border: 216, 12.2%, 83.9%;
        --input: 216, 12.2%, 83.9%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', sans-serif;
    }
}

.pattern {
    background-image: url('../public/background.png');
    background-repeat: repeat;
}
