name: Deploy to Railway
on:
    push:
        branches:
            - master
jobs:
    typecheck:
        name: Typecheck
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install dependencies
              run: cd client && npm install --frozen-lockfile && cd .. && npm install --frozen-lockfile

            - name: Typecheck
              run: npm run typecheck
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install dependencies
              run: cd client && npm install --frozen-lockfile && cd .. && npm install --frozen-lockfile

            - name: Lint
              run: npm run lint
    migrations:
        name: Migrations
        runs-on: ubuntu-latest
        needs: [typecheck, lint]
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v3

            - name: Setup Node
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install dependencies
              run: npm install --frozen-lockfile

            - name: Apply all pending migrations to the database
              run: npx prisma migrate deploy
              env:
                  DATABASE_URL: ${{ secrets.DATABASE_URL }}
